:root {
    --primary-color: #50B498;
    --secondary-color: #eeeeee;
    --text-dark: #50B498;
    --text-light: #eeeeee;
    --text-color:#9b9999;
    --border-color: #50B498;
    --radius: 30px;
    --shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    --text-size: 13px;
    --title-size: 35px;
    --bg-color: #191919;
    --shadow-hover: rgb(80 180 152 / 30%) 0px 10px 20px, rgb(80 180 152 / 20%) 0px 6px 6px;
  }
  
  html,
  body {
    font-family: "Poppins" !important;
    background-color: var(--bg-color);
  }

  .container{
    max-width: 90%;
  }
  
  .btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--border-color) !important;
    border-radius: var(--radius) !important;
  }
  .click-btn {
    padding: 10px 20px;
    box-shadow: var(--shadow);
    font-size: 15px !important;
  }
  
  .click-btn:hover {
    box-shadow: var(--shadow-hover);
  }
  
  .para-text p {
    font-size: var(--text-size);
    color: var(--text-color);
  }
  
  .header-text h1 {
    font-size: 40px;
    font-weight: bold;
    color: var(--text-light);
    text-transform: uppercase;
  }
  
  .header-text h2 {
    font-size: var(--title-size);
    color: var(--text-light);
    font-weight: 600;
  }
  
  .header-text h3 {
    font-size: 18px;
      color: var(--text-light);
      font-weight: 400;
  }
  
  .header-text h5{
  font-size: 15px;
  font-weight: 600;
  color: var(--text-dark);
  }
  
  .hgt-text{
    color: var(--text-dark);
  }
  
  /*header*/
  .nav-sec {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #212529;
}
.navigation-menu a{
    font-size: 15px;
    color: var(--text-color);
}